.form-section,
.status-section {
    margin-bottom: 20px;
    padding: 4%;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #3b2563;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

select, .scan-button, textarea {
    padding: 10px;
    border: 1px solid #3b2563;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #3b2563;
}

textarea {
    width: 100%;
    resize: none;
}

.scan-button {
    background-color: #3b2563;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.scan-button:hover {
    background-color: #554080;
}

.or {
    font-size: 16px;
    color: #3b2563;
}

.submit-button {
    padding: 10px 20px;
    background-color: #00d956;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background-color: #00b845;
}

.status-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.status-table thead th {
    background-color: #3b2563;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}

.status-table tbody td {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.status.solicitado {
    background-color: #ff6b6b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.form-group .data{
    padding: 10px;
    border: 1px solid #3b2563;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #3b2563;
}